<%- layout('layout/main.ejs') %>

    <div class="container p-5">
        <div class="clientes card w-100" style="background: whitesmoke !important; ">
            <div class="card-body">
                <h2>Banca y Finanzas</h2>

                <div class="d-flex justify-content-center flex-wrap pt-5">
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/banesco.png" alt="Banesco"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/mercantil.jpg" alt="Mercantil"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/BBVA.png" alt="BBVA"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/activo.jpg" alt="Activo"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bfc.png" alt="BFC"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bancaribe.jpg" alt="Bancaribe"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bancobu.png" alt="Bincentenario"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/vol.jpg" alt="Venezolano de credito"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/caroni.jpg" alt="Caroni"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/100.png" alt="100% Banco"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/plaza.png" alt="Banco plaza"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bancamiga.png" alt="Bancamiga"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bandes.png" alt="Bandes"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/credi.png" alt="Credicard"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/multi.png" alt="Multibank"></a>
                    </div>
                    
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bancoagri.jpg" alt="Bancoagricola"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sofi.png" alt="Sofitasa"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/inver.jpg" alt="InverUnion"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/ban.jpg" alt="Banvalor"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/bancoro.jpg" alt="Bancoro"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/canarias.jpg" alt="Canarias"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/soberano.jpg" alt="Canarias"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/arca.png" alt="Arca"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clientes card w-100 my-4" style="background: whitesmoke !important; ">
            <div class="card-body">
                <h2>Telefonia y Comunicaciones</h2>

                <div class="d-flex justify-content-center flex-wrap pt-5">
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/digitel.png" alt="Digitel"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/telefo.jpg" alt="Telefonia"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/cantv.jpg" alt="Cantv"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="clientes card w-100 my-4" style="background: whitesmoke !important; ">
            <div class="card-body">
                <h2>Corretaje y Seguros</h2>

                <div class="d-flex justify-content-center flex-wrap pt-5">
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sanitas.jpg" alt="Sanitas"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/gil.jpg" alt="Gil"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/const.png" alt="Seguros Constitucion"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/hori.png" alt="Hori"></a>
                    </div>
                    
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/segcan.jpg" class="img-fluid w-100 h-100" alt="asas"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="clientes card w-100 my-4" style="background: whitesmoke !important; ">
            <div class="card-body">
                <h2>Organismos Gubernamentales</h2>

                <div class="d-flex justify-content-center flex-wrap pt-5">
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/pequi.png" alt="Pequiven"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/pdvsa.png" alt="Pdvsa"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/ventel.png" alt="Ventel"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/venetur.jpg" alt="Venetur"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/saime.png" alt="Saime"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/cenco.png" alt="Cencoex"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/suv.jpg" alt="Suvinca"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/df.jpg" alt="Defensa Publica"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/telesu.jpg" alt="Telesur"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/tves.jpg" alt="Tves"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/ona.png" alt="ONA"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/seniat.jpg" alt="seniat" class="img-fluid w-100 h-100"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/mopvi.jpg" alt="Mopvi" class="img-fluid w-100 h-100"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/ivss.jpg" alt="ivss" class="img-fluid w-100 h-100"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/mpps.png" alt="Mpps" class="img-fluid w-100 h-100"></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="clientes card w-100 my-4" style="background: whitesmoke !important; ">
            <div class="card-body">
                <h2>Otros Clientes</h2>

                <div class="d-flex justify-content-center flex-wrap pt-5">
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sanitas.jpg" alt="Sanitas"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sba.png" alt="Sba"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sus.png" alt="Suscerte"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/aon.png" alt="Aon"></a>
                    </div>
                    
                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sodexo.png" class="img-fluid w-100 h-100" alt="Sodexo"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/fvi.jpg" class="img-fluid w-100 h-100" alt="Fvi"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/rapipago.jpg" class="img-fluid w-100 h-100" alt="Rapipago"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/fin.png" class="img-fluid w-100 h-100" alt="Fin"></a>
                    </div>

                    <div class="targeta-item anim">
                        <a href="#"><img src="img/clientes/sudeca.jpg" class="img-fluid w-100 h-100" alt="Sudeca"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>