    <%- layout('layout/main.ejs') %>

    <main>
        <section class="section-1 p-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="imgs-bg">
                                <div class="d-flex justify-content-center">
                                    <div class="hero-text text-white text-center">
                                        <h1>¡Compra nuestros cursos prensenciales!</h1>
                                        <p class="my-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Voluptatum quas, quis sequi vel inventore non voluptate tempore.
                                        </p>
                                        <button class="btn btn-primary py-2 px-4">
                                            Ver Cursos Disponibles
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="imgs-bg">
                                <div class="d-flex justify-content-center">
                                    <div class="hero-text text-white text-center">
                                        <h1>Descarga nuestra app y aprende con nosotros.</h1>
                                        <p class="my-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Voluptatum quas, quis sequi vel inventore non voluptate tempore.
                                        </p>
                                        <div class="group-items">
                                            <button class="btn btn-dark py-2 px-4 text-white mx-3">
                                                Play Store
                                            </button>

                                            <button class="btn py-2 px-4 btn-light mx-3">
                                                Ir a noticias
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="imgs-bg">
                                <div class="d-flex justify-content-center">
                                    <div class="hero-text text-white text-center">
                                        <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                                        <p class="my-3">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Voluptatum quas, quis sequi vel inventore non voluptate tempore.
                                        </p>
                                        <button class="btn btn-primary py-2 px-4">
                                            Ver Cursos Disponibles
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleControls" data-slide-to="0" aria-current="location"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                </ol>
            </div>
        </section>

        <section class="section-2 p-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 anim">
                        <h1 class="text-dark">Protegemos sus datos para su negocio.</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae repudiandae pariatur, culpa
                            ut deserunt veniam sapiente, facilis dolorem, asperiores sed rem officiis voluptatum
                            consectetur eligendi iure accusantium laboriosam quas neque?
                        </p>
                    </div>

                    <div class="col-md-5 col-sm-12 anim">
                        <img src="img/telefono-personas.png" alt="busyness" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </section>


        <section class="section-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 anim">
                        <img src="img/man-hacker-ladron.png" alt="busyness" class="img-fluid w-100">
                    </div>

                    <div class="col-md-7 col-sm-12 anim">
                        <h1 class="text-dark">Contamos con cursos precenciales o de manera Online.</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae repudiandae pariatur, culpa
                            ut deserunt veniam sapiente, facilis dolorem, asperiores sed rem officiis voluptatum
                            consectetur eligendi iure accusantium laboriosam quas neque?
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-4 p-0">

            <div class="text-center">
                <h2 class="anim">Nuestro Servicio</h2>
                <p class="para anim" style="color: #1a1a1a96 !important;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, minus! Veritatis impedit
                    reprehenderit.
                </p>

                <div>
                    <div class="d-flex justify-content-center flex-wrap">
                        <div class="services">
                            <div class="text-center anim">
                                <img src="img/services/consultoria.png" alt="Consultas" class="w-50">
                            </div>

                            <div class="text-center">
                                <h3 class="anim">Consultoría.</h3>
                                <p class="anim">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Adipisci dignissimos accusamus cupiditate commodi culpa.
                                </p>
                            </div>
                        </div>

                        <div class="services">
                            <div class="text-center">
                                <img src="img/services/pruebas-penetracion.png" alt="Pruebas de penetración"
                                    class="w-50 anim">
                            </div>

                            <div class="text-center">
                                <h3 class="anim">Pruebas de penetración.</h3>
                                <p class="anim">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Adipisci dignissimos accusamus cupiditate commodi culpa.
                                </p>
                            </div>
                        </div>

                        <div class="services">
                            <div class="text-center anim">
                                <img src="img/services/forense.png" alt="Análisis Cómputo Forense" class="w-50">
                            </div>

                            <div class="text-center">
                                <h3 class="anim">Investigación | Análisis Cómputo Forense.</h3>
                                <p class="anim">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Adipisci dignissimos accusamus cupiditate commodi culpa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-5">
            <div class="text-center">
                <h3 id="#cursos" class="text-white pt-3 mb-5 anim">Últimos Cursos Publicados</h3>
                
                <div class="d-flex justify-content-center flex-wrap">
                    
                    <div class="card anim">
                        <img src="img/hackerman-computers.jpg" alt="Curso de linux" class="card-img-top">

                        <div class="card-body">
                            <h5>Curso de linux.</h5>
                            <p class="para5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nostrum?</p>
                            
                            <span style="color: rgba(0, 0, 0, 0.685)">Publicado 17/4/2020</span>

                        </div>

                        <div class="card-footer">
                            <button class="btn btn-block btn-success">
                                33,00$ <i class="fa fa-tag"></i>
                            </button>
                        </div>
                    </div>    
                    
                        
                    <div class="card anim">
                        <img src="img/phishing-scam-hacker-attack-web-security-vector-concept_53562-4864.jpg" alt="Curso de linux" class="card-img-top">

                        <div class="card-body">
                            <h5>Protección anti phishing.</h5>
                            <p class="para5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nostrum?</p>
                            
                            <span style="color: rgba(0, 0, 0, 0.685)">Publicado 17/4/2020</span>

                        </div>

                        <div class="card-footer">
                            <button class="btn btn-block btn-success">
                                25,99$ <i class="fa fa-tag"></i>
                            </button>
                        </div>
                    </div>    
    
                        
                    <div class="card anim">
                        <img src="img/code_lines_programming_130775_1600x1200.jpg" alt="Curso de linux" class="card-img-top">

                        <div class="card-body">
                            <h5>Programación con Python.</h5>
                            <p class="para5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nostrum?</p>
                            
                            <span style="color: rgba(0, 0, 0, 0.685)">Publicado 17/4/2020</span>

                        </div>

                        <div class="card-footer">
                            <button class="btn btn-block btn-success">
                                49,33$ <i class="fa fa-tag"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-6">
            <div class="text-center">
                <h2 class="text-dark anim">Clientes</h2>
            </div>

            <div class="d-flex justify-content-center flex-wrap">
                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/banesco.png" alt="banesco"></a>
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/pdvsa.png" alt="PDVSA"></a>       
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/saime.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/100.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/aon.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/sanitas.jpg" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/arca.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/ban.jpg" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/bancaribe.jpg" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/bancamiga.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/digitel.png" alt="saime"></a>      
                </div>

                <div class="targeta-item anim">
                    <a href="#"><img src="img/clientes/cantv.jpg" alt="saime"></a>      
                </div>
            </div>
            
            <div class="w-100 d-flex justify-content-center">
                <a href="clientes.php" class="anim px-4 py-2 mt-4 mb-5">Ver Más Clientes</a>
            </div>
        </section>
    </main>

<?php include('include/footer.php')?>