<%- layout('layout/main.ejs') %>



    <div class="container p-4">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="text-center text-dark">¿Quiénes somos?</h4>
                <hr class="w-25 bg-primary">

                <p class="mt-3 p-4 text text-justify text-lowercase" style="color: #0000009d; font-size: 17px;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio commodi beatae aut recusandae dolorum, natus architecto est voluptatem sunt reprehenderit ut nisi magni ad molestias, repellendus deserunt deleniti possimus adipisci dicta, nostrum excepturi? Earum labore enim numquam eius, alias doloremque aliquid suscipit nobis veniam, at consectetur molestias ipsam hic provident tenetur molestiae autem quos. Provident, sapiente. Architecto rem saepe ipsam sit consequatur minima quisquam tempore molestiae, dolorem nobis nam!
                </p>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <h4 class="text-center text-dark">Misión</h4>
                <hr class="w-25 bg-primary">

                <p class="mt-3 p-4 text text-justify text-lowercase" style="color: #0000009d; font-size: 17px;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio commodi beatae aut recusandae dolorum, natus architecto est voluptatem sunt reprehenderit ut nisi magni ad molestias, repellendus deserunt deleniti possimus adipisci dicta, nostrum excepturi? Earum labore enim numquam eius, alias doloremque aliquid suscipit nobis veniam, at consectetur molestias ipsam hic provident tenetur molestiae autem quos. Provident, sapiente. Architecto rem saepe ipsam sit consequatur minima quisquam tempore molestiae, dolorem nobis nam!
                </p>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <h4 class="text-center text-dark">Visión</h4>
                <hr class="w-25 bg-primary">

                <p class="mt-3 p-4 text text-justify text-lowercase" style="color: #0000009d; font-size: 17px;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio commodi beatae aut recusandae dolorum, natus architecto est voluptatem sunt reprehenderit ut nisi magni ad molestias, repellendus deserunt deleniti possimus adipisci dicta, nostrum excepturi? Earum labore enim numquam eius, alias doloremque aliquid suscipit nobis veniam, at consectetur molestias ipsam hic provident tenetur molestiae autem quos. Provident, sapiente. Architecto rem saepe ipsam sit consequatur minima quisquam tempore molestiae, dolorem nobis nam!
                </p>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <h4 class="text-center text-dark">Valores</h4>
                <hr class="w-25 bg-primary">

                <p class="mt-3 p-4 text text-justify text-lowercase" style="color: #0000009d; font-size: 17px;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti distinctio commodi beatae aut recusandae dolorum, natus architecto est voluptatem sunt reprehenderit ut nisi magni ad molestias, repellendus deserunt deleniti possimus adipisci dicta, nostrum excepturi? Earum labore enim numquam eius, alias doloremque aliquid suscipit nobis veniam, at consectetur molestias ipsam hic provident tenetur molestiae autem quos. Provident, sapiente. Architecto rem saepe ipsam sit consequatur minima quisquam tempore molestiae, dolorem nobis nam!
                </p>
            </div>
        </div>
    </div>