html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background: #f5f5f5;
}

a{
    text-decoration: none !important;
    color: black !important;
}

/* NAVEGATION */

.nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav.scrolled{
    background-color: #fff !important;
    transition: background-color 300ms linear;
}

.menu-open{
    position: absolute;
    line-height: 60px;
    left: 1.4em;
}

.brand span a{
    position: absolute;
    line-height: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 4px;
    color: black;
}

.cart{
    position: absolute;
    line-height: 60px;
    right: 1.4em;
    font-weight: 300;
}

/* MENU */

.menu{
    position: fixed;
    z-index: 2;
    width: 20%;
    left: -20%;
    height: 100vh;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

@media(max-width:900px){
    .menu{
        width: 50%;
        left: -50%;
    }
}

@media(max-width:500px){
    .menu{
        width: 80%;
        left: -80%;
    }
}

@media(max-width:430px){
    .menu{
        width: 100%;
        left: -100%;
    }
}

.menu-close{
    position: relative;
    line-height: 60px;
    float: right;
    margin-right: 20px;
    color: black;
}

.menu ul{
    list-style: none;
    margin-top: 30%;
    padding: 0 !important;
}

.menu ul a li{
    padding: 20px !important;
    border-top: 1px solid #2d2d2d52 !important;
}

.menu ul a li{
    font-size: 15px; 
    text-transform: uppercase;
}

.menu ul a li:hover{
    background: whitesmoke;
}

.linieal a:last-child li{
    border-bottom: 1px solid #2d2d2d52 !important; 
}

/* Scroll */
body::-webkit-scrollbar{width: 10px; }
body::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.74);
}

/* ===================[ HOME ]=================== */

/* Tarjeta */

.inscritos p{
    font-size: 40px;
}

.fa-star{font-size: 17px !important}

/* ==================== [ COURSES ] ==================*/

.separar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separar .datos-card p{
    margin-bottom: 3px;
}

/* ==================== [ USERS ] ==================*/

.table-users{
    overflow: auto !important;
}

@media screen and (max-width: 450px){
    .table-users{
        padding: 10px;
        width: 100% !important;
    }

    .table-users th{
        padding: 10px !important;
        text-align: center;
        vertical-align: auto;
        width: 0px !important;
    }

    .table-users table{
        width: 650px !important;
    }
}