<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <header>
        <div style="background: #232f3eed;">
            <div class="container d-flex justify-content-center py-1">
                <a href="/" style="color: white" class="d-flex"><img src="img/icon.png" alt="icono" width="50">
                    <h5 style="color: whitesmoke; padding-top: 10px;">Seguridad Maxium</h5>
                </a>
            </div>
        </div>

        <nav class="menu" id="menu">
            <div class="contenedor contenedor-botones-menu">
                <button id="btn-menu-barras" class="btn-menu-barras"><i class="fa fa-bars"></i></button>
                <button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fa fa-times"></i></button>
            </div>

            <div class="contenedor contenedor-enlaces-nav">
                <div class="btn-departamentos" id="btn-departamentos">
                    <span class="p-2 text-white">Categorías</span>
                    <i class="fa fa-caret-down"></i>
                </div>

                <div class="enlaces">
                    <% if(user){ %>
                        <a href="/">Inicio</a>
                        <a href="/noticias">Noticias</a>
                        <a href="/clientes">Clientes</a>
                        <a href="/contacto">Contacto</a>
                        <a href="/logout">Salir</a>
                    <% }else {%>
                        <a href="/">Inicio</a>
                        <a href="/noticias">Noticias</a>
                        <a href="/clientes">Clientes</a>
                        <a href="/contacto">Contacto</a>
                        <a href="/signin">Login</a>
                    <% } %>
                </div>
            </div>

            <div class="contenedor contenedor-grid">
                <div class="grid" id="grid">
                    <div class="categorias">
                        <button class="btn-regresar"><i class="fa fa-arrow-left"></i> Regresar</button>
                        <h3 class="subtitulo">Categorias</h3>

                        <a href="/#" class="presencial" data-categoria="tecnologia-y-computadoras">Cursos Presenciales<i class="fa fa-angle-right"></i></a>
                        <a href="/#" class="online" data-categoria="libros">Cursos Online <i class="fa fa-angle-right"></i></a>
                        <hr>
                        <a href="/#" class="cumplimiento" data-categoria="ropa-y-accesorios">Cumplimiento <i class="fa fa-angle-right"></i></a>
                        <a href="/#" class="soluciones" data-categoria="hogar-y-cocina">Soluciones <i class="fa fa-angle-right"></i></a>
                    </div>

                    <div class="contenedor-subcategorias">
                        <div class="subcategoria " data-categoria="tecnologia-y-computadoras">
                            <div class="enlaces-subcategoria">
                                <button class="btn-regresar"><i class="fa fa-arrow-left"></i>Regresar</button>
                                <h3 class="subtitulo">Cursos Presenciales </h3>
                                <a href="/capacitaciones">Programación web</a>
                                <a href="/capacitaciones">Seguridad de la información</a>
                                <a href="/capacitaciones">Protección anti Phishing</a>
                                <a href="/capacitaciones">SQL Injection</a>
                                <a href="/capacitaciones">Creación de metasploit</a>
                            </div>

                            <div class="banner-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/presencial-presencial.jpg" alt="Cursos presenciales">
                                </a>
                            </div>

                            <div class="galeria-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/presencial-programacion-web.jpg" alt="Cursos presenciales">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/presencial-sploit.jpg" alt="Cursos presenciales">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/presencial-sql.jpg" alt="Cursos presenciales">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/presenial-drone.jpg" alt="Cursos presenciales">
                                </a>
                            </div>
                        </div>

                        <div class="subcategoria" data-categoria="libros">
                            <div class="enlaces-subcategoria">
                                <button class="btn-regresar"><i class="fa fa-arrow-left"></i>Regresar</button>
                                <h3 class="subtitulo">Cursos Online</h3>
                                <a href="#">Certificados Digitales</a>
                                <a href="#">Web Aplicación Firewall</a>
                                <a href="#">Investigación Analizis Forense</a>
                                <a href="#">Prevención de Fraude</a>
                            </div>

                            <div class="banner-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/curso-online-segurity.jpg" alt="">
                                </a>
                            </div>

                            <div class="galeria-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/curso-online-laptop-1.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/curso-online-laptop-2.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/curso-online-tablet.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/curso-online.jpg" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="subcategoria" data-categoria="ropa-y-accesorios">
                            <div class="enlaces-subcategoria">
                                <button class="btn-regresar"><i class="fa fa-arrow-left"></i>Regresar</button>
                                <h3 class="subtitulo">Cumplimiento</h3>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                            </div>

                            <div class="banner-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/ropa-banner-1.png" alt="">
                                </a>
                            </div>

                            <div class="galeria-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/ropa-galeria-1.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/ropa-galeria-2.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/ropa-galeria-3.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/ropa-galeria-4.png" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="subcategoria" data-categoria="hogar-y-cocina">
                            <div class="enlaces-subcategoria">
                                <button class="btn-regresar"><i class="fa fa-arrow-left"></i>Regresar</button>
                                <h3 class="subtitulo">Soluciones</h3>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                                <a href="#">Lorem</a>
                            </div>

                            <div class="banner-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/hogar-banner-1.png" alt="">
                                </a>
                            </div>

                            <div class="galeria-subcategoria">
                                <a href="#">
                                    <img src="img/menu-img/hogar-galeria-1.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/hogar-galeria-2.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/hogar-galeria-3.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/menu-img/hogar-galeria-4.png" alt="">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>